body{
    background-color: #11e30e;
}
header{
    margin: 2vh auto;
}
header, nav,main,.row div{
    background-color: #fff;
   min-height: 10vh;
   padding: 2vh;
   border: 5px solid #08dc41;
   
   


}

nav,main{
    min-height: 82vh;
}
